version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: event-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: event_user
      POSTGRES_PASSWORD: event_pass
      POSTGRES_DB: event_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
